RUNNER_SCOPE={{ runner_scope }}
ORG_NAME={{ runner_org }}
RUNNER_NAME={{ runner_name }}
DOCKER_HOST={{ docker_host }}
LABELS={{ runner_labels }}
RUN_AS_ROOT={{ runner_run_as_root }}
DISABLE_AUTO_UPDATE={{ runner_disable_auto_update }}
EPHEMERAL={{ runner_is_ephemeral }}
APP_ID={{ runner_app_id }}
APP_LOGIN={{ runner_app_login }}
APP_PRIVATE_KEY={{ runner_app_private_key | replace('\n', '\\n') }}
