#!/bin/bash
echo "Running the post-stop script"

export XDG_RUNTIME_DIR={{ runtime_dir }}
export DOCKER_HOST={{ docker_host }}

docker stop github-runner       || echo ok
docker stop secured-container   || echo ok

sleep 5

docker rm github-runner
docker rm secured-container

docker volume rm dindHome
docker volume rm dockerSock
docker volume rm dindWork
docker volume rm dindRunner
docker volume rm dindToolsCache

docker system prune -af --volumes

rm -rf {{ _user_info.home }}/dind-etc
rm -f {{ _user_info.home }}/runner-decrypted.env
rm -f {{ _user_info.home }}/runner-decrypted-private-key.pem
