#!/bin/bash
export XDG_RUNTIME_DIR=/run/user/{{ _user_info.uid }}
export DOCKER_HOST=unix:///run/user/{{ _user_info.uid }}/docker.sock

docker stop github-runner || echo ok
docker stop dind-rootless || echo ok

sleep 5

docker volume rm dindHome
docker volume rm dockerSock
docker volume rm dindWork
docker volume rm dindRunner
docker volume rm dindToolsCache

rm -rf {{ _user_info.home }}/dind-etc
rm -f {{ _user_info.home }}/runner-decrypted.env
rm -f {{ _user_info.home }}/runner-decrypted-private-key.pem
