#!/bin/bash
echo "Running the post-stop script"

export XDG_RUNTIME_DIR={{ rootless_rundir }}
export DOCKER_HOST={{ rootless_host }}

docker stop github-runner       || echo ok
docker stop secured-container   || echo ok

sleep 5

docker volume rm dindHome
docker volume rm dockerSock
docker volume rm dindWork
docker volume rm dindRunner
docker volume rm dindToolsCache

#docker system prune -af --volumes

rm -rf {{ runner_dir }}/dind-etc
rm -f {{ runner_dir }}/runner-decrypted.env
rm -f {{ runner_dir }}/runner-decrypted-private-key.pem
