#!/bin/bash
echo "Running the pre-start script"

# scripts and runner will use runner-decrypted.env
cp {{ _user_info.home }}/runner.env {{ _user_info.home }}/runner-decrypted.env

# In preparation to Token generation, move the private key to a separate file
cat {{ _user_info.home }}/runner.env | grep APP_PRIVATE_KEY | sed 's/APP_PRIVATE_KEY=//g' | sed 's/\\n/\'$'\n''/g' > {{ _user_info.home }}/runner-decrypted-private-key.pem
sed -i '/APP_PRIVATE_KEY/d' {{ _user_info.home }}/runner-decrypted.env

# export to the environment the rest of variables needed for token calculation 
export $(cat {{ _user_info.home }}/runner-decrypted.env)

# generate short-lived token, and store it in the runner-decrypted.env
#ACCESS_TOKEN=$(APP_ID="${APP_ID}" REPO_URL="${REPO_URL}" bash {{ _user_info.home }}/bin/get_token.sh)
ACCESS_TOKEN=$(bash {{ _user_info.home }}/bin/get_token.sh)
_TOKEN=$(ACCESS_TOKEN="${ACCESS_TOKEN}" bash {{ _user_info.home }}/bin/get_runner_token.sh)
echo "RUNNER_TOKEN=$(echo "${_TOKEN}" | jq -r .token)" >> {{ _user_info.home }}/runner-decrypted.env

# remove the sentitive info from the runner-decrypted.env
sed -i '/APP_ID/d' {{ _user_info.home }}/runner-decrypted.env
sed -i '/APP_LOGIN/d' {{ _user_info.home }}/runner-decrypted.env

# remove the sentitive info from environment
unset APP_ID
unset APP_LOGIN

# prepare docker in docker environment before starting the runner
export XDG_RUNTIME_DIR={{ rootless_rundir }}
export DOCKER_HOST={{ rootless_host }}

docker pull {{ rootless_image }}
docker pull {{ runner_image }}

mkdir -p {{ _user_info.home }}/dind-etc

docker run --rm --name dind-prepare {{ rootless_image }} cat /etc/subuid  > {{ _user_info.home }}/dind-etc/subuid
docker run --rm --name dind-prepare {{ rootless_image }} cat /etc/subgid  > {{ _user_info.home }}/dind-etc/subgid
docker run --rm --name dind-prepare {{ rootless_image }} cat /etc/group   > {{ _user_info.home }}/dind-etc/group
docker run --rm --name dind-prepare {{ rootless_image }} cat /etc/passwd  > {{ _user_info.home }}/dind-etc/passwd

echo '{{ runner_user }}:231072:65536' >> {{ _user_info.home }}/dind-etc/subuid
echo '{{ runner_group }}:231072:65536' >> {{ _user_info.home }}/dind-etc/subgid
echo '{{ runner_group }}:x:{{ runner_gid }}:{{ runner_user }}' >> {{ _user_info.home }}/dind-etc/group
echo '{{ runner_user }}:x:{{ runner_uid }}:{{ runner_gid }}:Github Runner:/home/{{ runner_user }}:/bin/bash' >> {{ _user_info.home }}/dind-etc/passwd

docker volume create --name dindHome
docker volume create --name dockerSock
docker volume create --name dindWork
docker volume create --name dindRunner
docker volume create --name dindToolsCache

docker run --rm --name dind-prepare -v dindHome:/home {{ rootless_image }} sh -c "mkdir /home/{{ runner_user }} && chown -R {{ runner_uid }}:{{ runner_gid }} /home/{{ runner_user }}"

docker run -d --rm --name secured-container \
  --privileged \
  -v dockerSock:{{ rootless_rundir }} \
  -v {{ _user_info.home }}/dind-etc/subuid:/etc/subuid \
  -v {{ _user_info.home }}/dind-etc/subgid:/etc/subgid \
  -v {{ _user_info.home }}/dind-etc/passwd:/etc/passwd \
  -v {{ _user_info.home }}/dind-etc/group:/etc/group \
  -v dindHome:/home \
  -v dindWork:/_work \
  -v dindRunner:/actions-runner \
  -v dindToolsCache:/opt/hostedtoolcache \
  {{ rootless_image }} \
  dockerd --host={{ rootless_host }}
  
sleep 3

#docker run --rm --name dind-prepare -v dockerSock:{{ rootless_rundir }} {{ rootless_image }} chmod 777 /run/docker
docker exec secured-container chmod 666 {{ rootless_rundir }}/docker.sock