#!/bin/bash
echo "Running the pre-start script"

# scripts and runner will use runner-decrypted.env
cp {{ runner_dir }}/runner.env {{ runner_dir }}/runner-decrypted.env

# move the private key to a separate file
cat {{ runner_dir }}/runner.env | grep APP_PRIVATE_KEY | sed 's/APP_PRIVATE_KEY=//g' | sed 's/\\n/\'$'\n''/g' > {{ runner_dir }}/runner-decrypted-private-key.pem

# remove the private key from the runner-decrypted.env
sed -i '/APP_PRIVATE_KEY/d' {{ runner_dir }}/runner-decrypted.env

# generate short-lived token
export $(cat {{ runner_dir }}/runner-decrypted.env)
ACCESS_TOKEN=$(APP_ID="${APP_ID}" REPO_URL="${REPO_URL}" bash {{ runner_dir }}/bin/get_token.sh)
_TOKEN=$(ACCESS_TOKEN="${ACCESS_TOKEN}" bash {{ runner_dir }}/bin/get_runner_token.sh)
echo "RUNNER_TOKEN=$(echo "${_TOKEN}" | jq -r .token)" >> {{ runner_dir }}/runner-decrypted.env

# remove the APP_ID from the runner-decrypted.env
sed -i '/APP_ID/d' {{ runner_dir }}/runner-decrypted.env
sed -i '/APP_LOGIN/d' {{ runner_dir }}/runner-decrypted.env
unset APP_ID
unset APP_LOGIN

# prepare docker in docker environment before starting the runner
export XDG_RUNTIME_DIR={{ runtime_dir }}
export DOCKER_HOST={{ docker_host }}

docker pull {{ dind_build }}
docker pull {{ runner_build }}

mkdir -p {{ runner_dir }}/dind-etc

docker run --rm --name dind-prepare {{ dind_build }} cat /etc/subuid  > {{ runner_dir }}/dind-etc/subuid
docker run --rm --name dind-prepare {{ dind_build }} cat /etc/subgid  > {{ runner_dir }}/dind-etc/subgid
docker run --rm --name dind-prepare {{ dind_build }} cat /etc/group   > {{ runner_dir }}/dind-etc/group
docker run --rm --name dind-prepare {{ dind_build }} cat /etc/passwd  > {{ runner_dir }}/dind-etc/passwd

echo '{{ runner_user }}:32768:65536' >> {{ runner_dir }}/dind-etc/subuid
echo '{{ runner_group }}:32768:65536' >> {{ runner_dir }}/dind-etc/subgid
echo '{{ runner_group }}:x:{{ _group_info.gid }}:{{ runner_user }}' >> {{ runner_dir }}/dind-etc/group
echo '{{ runner_user }}:x:{{ _user_info.uid }}:{{ _group_info.gid }}:Github Runner:{{ runner_dir }}:/bin/bash' >> {{ runner_dir }}/dind-etc/passwd

docker volume create --name dindHome
docker volume create --name dockerSock
docker volume create --name dindWork
docker volume create --name dindRunner
docker volume create --name dindToolsCache

docker run --rm --name dind-prepare -v dindHome:/home {{ dind_build }} sh -c "mkdir /home/{{ runner_user }} && chown -R {{ runner_user }}:{{ runner_group }} /home/{{ runner_user }}"
docker run --rm --name dind-prepare -v dockerSock:{{ runtime_dir }} {{ dind_build }} chmod 777 /run/docker

docker run -d --rm --name secured-container \
  --privileged \
  -v dockerSock:{{ runtime_dir }} \
  -v {{ runner_dir }}/dind-etc/subuid:/etc/subuid \
  -v {{ runner_dir }}/dind-etc/subgid:/etc/subgid \
  -v {{ runner_dir }}/dind-etc/passwd:/etc/passwd \
  -v {{ runner_dir }}/dind-etc/group:/etc/group \
  -v dindHome:/home \
  -v dindWork:/_work \
  -v dindRunner:/actions-runner \
  -v dindToolsCache:/opt/hostedtoolcache \
  {{ dind_build }} \
  dockerd --host={{ docker_host }}
  
sleep 3

docker run --rm --name dind-prepare -v dockerSock:{{ runtime_dir }} {{ dind_build }} chmod 666 {{ runtime_dir }}/docker.sock
