[Unit]
Description=GitHub Runner
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ runner_dir }}
TimeoutStartSec=0
Restart=always
ExecStartPre=-{{ runner_dir }}/bin/pre-start.sh
ExecStart={{ runner_dir }}/bin/start-runner.sh
ExecStopPost={{ runner_dir }}/bin/post-stop.sh

[Install]
WantedBy=default.target
