[Unit]
Description=GitHub Runner
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ _user_info.home }}
TimeoutStartSec=0
Restart=always
ExecStartPre=-{{ _user_info.home }}/bin/pre-start.sh
ExecStart={{ _user_info.home }}/bin/start-runner.sh
ExecStopPost={{ _user_info.home }}/bin/post-stop.sh

[Install]
WantedBy=default.target
