#!/bin/bash
echo "Running the start-runner script"

export XDG_RUNTIME_DIR={{ runtime_dir }}
export DOCKER_HOST={{ docker_host }}

docker run --rm --name github-runner \
  --privileged \
  --env-file {{ _user_info.home }}/runner-decrypted.env \
  -v dockerSock:{{ runtime_dir }} \
  -v dindHome:/home \
  -v dindWork:/_work \
  -v dindRunner:/actions-runner \
  -v dindToolsCache:/opt/hostedtoolcache \
  {{ runner_build }}
