#!/bin/bash
export XDG_RUNTIME_DIR=/run/user/{{ _user_info.uid }}
export DOCKER_HOST=unix:///run/user/{{ _user_info.uid }}/docker.sock

docker run --rm --name github-runner \
  --privileged \
  --env-file {{ _user_info.home }}/runner-decrypted.env \
  -v dockerSock:/run/docker \
  -v dindHome:/home \
  -v dindWork:/_work \
  -v dindRunner:/actions-runner \
  -v dindToolsCache:/opt/hostedtoolcache \
  {{ runner_build }}
